* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

header {
  width: 100%;
  height: 130px;
  display: flex;
  padding: 12.5px;
  overflow: hidden;
  padding-bottom: 0;
  justify-content: center;
  background: mediumseagreen;
}

#heading {
  width: 60%;
  margin: 15px;
  margin-top: 0;
  font-size: 2rem;
  text-align: center;
}

#navList {
  width: 100%;
  display: flex;
  background: #333;
}

#navbar {
  top: 0;
  z-index: 1;
  position: sticky;
}

.navItems {
  width: 16%;
  overflow: hidden;
  text-align: center;
}

#card1 {
  background: url("Slide1.jpg") center;
  background-size: cover;
  height: 600px;
  width: 100%;
}

#RRCB {
  font-size: 4.5rem;
  text-align: center;
  padding-top: 125px;
  color: floralwhite;
  text-shadow: 4px 4px 3px #333;
}

#subtext {
  font-size: 1.5rem;
  text-align: center;
  color: floralwhite;
  text-shadow: 4px 4px 3px #333;
}

#about {
  float: right;
  margin-right: 2%;
  margin-top: 10px;
}

#Helpline {
  float: left;
  width: 120px;
  height: 40px;
  margin-right: 5px;
  border-radius: 5px;
}

#card2 {
  background: url("Slide2.jpg") center;
  background-size: cover;
  height: 600px;
}

#Lists {
  text-align: center;
  background: #333;
  padding: 10px 28px 10px 22px;
  width: 400px;
  margin: auto;
  height: 350px;
  color: antiquewhite;
  border: 3px solid #000;
  border-radius: 10px;
}

.Notices {
  padding: 7px;
  text-align: center;
}

.Notices:hover:not(.active) {
  background-color: mediumseagreen;
  border: 1px solid antiquewhite;
}

.Notices:link {
  text-decoration: none;
  color: antiquewhite;
}

.Notices:visited {
  text-decoration: none;
  color: antiquewhite;
}

.Notices:hover {
  text-decoration: none;
}

.Notices:active {
  text-decoration: none;
}
